.app {
    display: flex
}

.counter, .settings {
    width: 360px;
    margin: 300px auto;
    text-align: center;
}

.display {
    font-size: 35px;
    padding: 80px 30px;
    width: 270px;
    text-align: center;
    margin: 15px auto 15px;
}

.setValues {
    width: 270px;
    text-align: center;
    margin: 15px auto 15px;
    padding: 40px 30px;
}

.buttons, .set {
    width: 270px;
    text-align: center;
    margin: 15px auto 15px;
    padding: 10px 30px;
}

.value {
    display: flex;
    color: #75d4f5;
    font-size: 18px;
    justify-content: space-between;
    padding: 16px 0 16px 0;
}

.value input {
    text-align: center;
}

.counter, .display, .buttons, .settings, .setValues, .set {
    border: solid 2px #75d4f5;
    border-radius: 10px;
    color: #75d4f5;
}